@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-family: "Roboto Flex", sans-serif;
    line-height: 1.5;
    color: #212529;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h4 {
    font-family: "Spectral", serif;
    font-weight: 500;
  }

  :root {
    --form-control-color: rebeccapurple;
    --form-control-disabled: #f3f2f3;
  }

  .meshGradient {
    background-color: #26004d;
    background-image: radial-gradient(
        at 65% 16%,
        hsla(207, 92%, 58%, 1) 0,
        hsla(207, 92%, 58%, 0) 50%
      ),
      radial-gradient(
        at 8% 20%,
        hsla(249, 87%, 53%, 1) 0,
        hsla(249, 87%, 53%, 0) 50%
      ),
      radial-gradient(
        at 25% 30%,
        hsla(204, 86%, 62%, 1) 0,
        hsla(204, 86%, 62%, 0) 50%
      ),
      radial-gradient(
        at 57% 71%,
        hsla(36, 85%, 59%, 1) 0,
        hsla(36, 85%, 59%, 0) 50%
      );
  }

  input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */

    font: inherit;
    /* color: currentColor; */
    background-color: #ffffff;
    width: 1.15em;
    height: 1.15em;
    border: 1px solid rgb(209, 213, 219);
    border-radius: 0.35em;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
  }

  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: circle(50% at 50% 50%);
    transform: scale(0);
    transform-origin: center;
    transition: 120ms transform ease-in-out;
    background-color: CanvasText;
  }

  input[type="checkbox"]:checked::before {
    transform: scale(0.85);
    transform-origin: center;
  }

  input[type="checkbox"]:focus {
    outline: 2px solid;
    outline-offset: max(2px, 0.15em);
  }

  @keyframes details-show {
    from {
      opacity: 0;
      transform: var(--details-translate, translateY(-0.5em));
    }
  }

  details[open] > *:not(summary) {
    animation: details-show 150ms ease-in-out;
  }

  .settings {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .settings::-webkit-scrollbar {
    display: none;
  }
  .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 120px 120px 120px;
    border-color: transparent transparent #121212 transparent;
  }
}

.creatorData {
  @apply border-rose-500 border-2 ml-2 py-1 px-4 rounded-lg text-rose-500;
}

.resetButton {
  @apply transition-all hover:scale-105  py-1 px-4 rounded-lg text-white;
}

.detailsStyle {
  @apply py-2 cursor-pointer mb-4 rounded-lg flex transition-all  bg-gray-200;
}

.detailsTitle {
  @apply text-sky-800 pl-5;
}

.cardStyle {
  @apply flex flex-col mb-10 rounded-3xl bg-[#FAFBFC] shadow p-5 relative;
}

.inputStyle {
  @apply w-full mt-1 bg-white rounded-xl p-2 border shadow border-gray-300;
}

.skillInput {
  @apply w-full mt-1 mb-2 bg-white rounded-xl p-2 border border-gray-300;
}

.addButton {
  @apply w-12 h-12 flex justify-center transition-all hover:scale-105  py-1 px-4 rounded-lg text-white;
}

.tagStyle {
  @apply inline-flex text-blue-900 text-sm items-center align-middle bg-blue-200/70 overflow-hidden py-1 px-2 m-1 rounded-lg relative;
}

.tagDeleteButton {
  @apply fill-blue-500 hover:fill-blue-700 hover:bg-blue-300/50 rounded-md inline h-5 w-5 transition-all;
}

.deleteButton {
  @apply absolute top-[2px]  ease-in  hover:bg-gray-300/50 transition-all rounded-lg p-1  right-0;
}

.deleteButtonSVG {
  @apply w-5 h-5 fill-gray-400;
}

.projectAndExperienceTitle {
  @apply w-full  bg-gray-200 text-neutral-500 shadow-inner p-1 mb-1 rounded-lg text-center relative;
}

.buttonHover {
  @apply hover:text-neutral-700 hover:scale-105 hover:drop-shadow-md transition-all;
}
